
/*Animations for the spinner in index page*/
@keyframes spin {
    0% { transform: rotate(0deg);z-index:3; }
    100% { transform: rotate(360deg);visibility:visible;z-index:3;}
}
@keyframes hiddenspin{
    0% {
        opacity: 100%;
    }
    
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}   
@keyframes hiddenspin-bg{
    0% {
        opacity: 90%;
    }
    
    99% {
        opacity: 90%;
    }
    100% {
        opacity: 0%;
    }
}  

/*Animations for the downwards appearing menus*/
@keyframes appearance{
    0%{
    }
    
    100%{
        visibility:visible;
    }

}
/*Animations for sliding check on*/