/*variables: colors*/

$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color_nouveau:rgb(0,135,102);
$color_background:rgb(246,246,246);
$color_location:rgb(234,234,234);
$color_select:rgb(245,237,255);
$color_footer:rgb(53,53,53);




