@media screen and (min-width:768px)  /* tablet */
{
    .header__menu{
        .header__arrow{
            font-size:2.3em;
        }
    }
    main{
        .picture img{
            height:22rem;
        }
        .intro{
            padding-bottom: 2.5rem;
            .intro__lieu{
                .fa-xs{
                    font-size:1rem;
                }
                p{
                    font-size:1.3rem; /*to add to font scss*/
                }
            }
        }
        aside{
            
            .aside__navigation{
                ol{
                    display:flex;
                    justify-content: space-between;
                    gap:1.3rem;

                    li{
                        gap:0.5rem;
                        padding-top:1rem;
                        padding-bottom:1rem;
                        padding:1rem 1rem 1rem 0; 
                    }
                    li+li{
                        margin-top:0;
                    }
                }
            }
        }
        
        .button--order{
            width:21%;
        }
    }
    footer{
        padding-right:1rem;

        .footer__nav{
        flex-direction: row;
        justify-content: space-between;
        width:100%;
        }
    }
}
