@font-face{
    font-family:"Roboto";
    src:url("Font-Roboto/Roboto-Regular.ttf")
}

em,.menu__name{
    font-family:Shrikhand;
}
em{
    color:white;
}

p,h1,h2{
    font-family:Roboto;
    font-size:1.6rem;
}

h2{
    margin-left:1rem ;
}