@font-face{
    font-family:"Roboto";
    src:url("Font-Roboto/Roboto-Regular.ttf")
}

em,.menu__name,.menu__title{
    font-family:Shrikhand;
}
.menu__title{
    font-size:1.7rem;
}
em{
    color:white;
}
strong{
    font-weight:bold;
}
li,p,h1,h2{
    font-family:Roboto;
}
p,h1,h2{
    font-size:1.6rem;
}
.details p{
    font-size:1.3rem;
}
h2{
    margin:2rem 0 1rem 1rem ;
}
.new{
    color:$color_nouveau;
    background-color:$color_tertiary;
    font-weight:bold;
}
.menu__subtitle,{
    font-size:1.1rem;  
}
.options__name{
    font-size:1.2rem;
    font-weight:bold;
}
.asidesnprice p{
    font-size:1rem;
}

.asidesnprice p:nth-child(2){
    font-weight:bold;
}

