@font-face{
    font-family:"Roboto";
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

h1,em,.menu__name,.menu__title{
    font-family:Shrikhand;
}
h1{
    font-size:2rem;
    margin:0;
    text-align:center;
}
.menu__title{
    font-size:1.7rem;
}
em{
    color:white;
}
strong{
    font-weight:bold;
}
li,p,h2,h3{
    font-family:Roboto;
}
p,h2,h3{
    font-size:1.6rem;
}
.details p{
    font-size:1.3rem;
}
h3{
    margin:2rem 0 1rem 1rem ;
}
.new{
    color:$color_nouveau;
    background-color:$color_tertiary;
    font-weight:bold;
}
.menu__subtitle{
    font-size:1.1rem;  
}
.options__name{
    font-size:1.2rem;
    font-weight:bold;
}
.asidesnprice p{
    font-size:1rem;
}

.asidesnprice p:nth-child(2){
    font-weight:bold;
}

