body{
    position:relative;
    .spinner{
        width:100%;
        height:100%;   
        position:absolute;
        visibility:hidden;
        z-index:-9999;
        animation:down-spinner  3000ms forwards; 
    }
    .spinner::before{
        content:"";
        height:100%;
        width:0;
        overflow: hidden;
        background: $color-background;
        opacity:0.9;
        position:fixed;
        visibility:visible;
        animation:hiddenspin-bg 3000ms forwards;
        z-index:-9999;
    }

    .spinner::after{
        content:"";
        width:10rem;
        height:10rem;
        position: fixed;
        text-align: center;
    /*to center the spinner, top and left 
    set to 50% works only from the top. We need to
    use the left and top margin set to  (- size)/2   */
        top:50%;
        left:50%;
        margin-top: -5rem;
        margin-left: -5rem;
        border:15px solid $color-secondary;
        border-top:15px solid $color-primary;
        border-bottom:15px solid $color-primary;
        border-radius:50%;
        z-index:1;
        animation: spin 3000ms ease forwards,hiddenspin 3000ms forwards;
        
    }
}
.header_index{
    display:flex;
    justify-content:center;
}

main{
    @include flex-column;
    margin:0;
    .intro{
        text-align:center;
        background:$color_background;
        padding-bottom: 3.5rem;
        .intro__lieu{
            display:flex;
            justify-content:center;
            align-items:center;
            gap:1rem;
            font-size:1.1em;
            background:linear-gradient(to bottom,rgb(207,207,207),$color-location,$color-location,$color-location,$color-location,$color-location);
            .fas{
                margin-left:-2em;
            }
            p{
                font-size:1rem;
            }
        }
        .intro__description{
            h1{
                margin:2rem 3.5rem 0.6rem 3.5rem;
            }
            p{
                font-size:1.1rem;
                margin:0.6rem 2.5rem 1.7rem 2.5rem;
            }      
        }
        .button--intro:hover{
            background:linear-gradient(to bottom right,lighten($color-secondary,10%),lighten($color-primary,10%));
            box-shadow: 0em 0.5em 4px lightgrey;
        }   
    }
        /*Fonctionnement*/
        /*customize the bullets*/
        
    aside{
        .aside__navigation{
            ol{
                list-style:none;
                counter-reset:bullets;
                padding-left:0;
                margin-left:1.8rem;
                margin-right:1rem;
                & li{
                    counter-increment: bullets;
                    display:flex;
                    gap:1.5rem;
                    align-items: center;
                    font-weight: bold;
                    background:$color_background;
                    padding-top:1.2rem;
                    padding-bottom:1.2rem;
                    border-radius:19px 19px 19px 19px;
                    box-shadow: 0 0 10px 3px lightgray;
                    .fa-mobile-alt{
                        margin-right:0.5rem ;
                    }
                
                    .fa-list-ul{
                        margin-right:0.1rem;
                    }
                    
                }
                li + li{
                    margin-top: 1.5rem;
                }
                li::before{
                    content:counter(bullets);
                    color:white;
                    background-color: $color-primary;
                    padding:0.2rem 0.5rem;
                    border-radius: 50%;
                    margin-left:-0.8rem;
                }
                li:hover{background:$color-select;}
                li:hover > .fas{
                    color:$color-primary;
                }
            }
        }    
    }
    .restaurants{
        background:$color-background;
        @include flex-column;
        gap:0.3rem;

        .restaurants__list{
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            gap:1rem;
            width:100%;
            padding-bottom:3rem;
                 
            .restaurant_caption{
                @include flex-column;
                justify-content: space-between;
                border-radius:15px;
                background: white;
                text-decoration-line:none;
                color:black;
                box-sizing:border-box;
                margin-left:1rem;
                margin-right: 1rem;
                position:relative;
                img{
                    border-radius:15px 15px 0 0;
                    object-fit:cover;
                    max-width:100%;
                    max-height:10.8rem;
                    object-position: 0 -3.5rem;
                }
                .new{
                    position:absolute;
                    top:0.8rem;
                    right:1rem;
                    padding:0.3em 0.8em;
                }
                .details{
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items:center;
                    padding:1rem 1.5rem 1rem 0.8rem;
                    p{
                        margin:0;
                    }
                    .fa-stack{
                        display:flex;
                        align-items: center;
                    }
                    .fa-heart-white{
                        font-size:1.5rem;
                        position:absolute;
                    }
                    .fa-inverse{
                        font-size:1.1rem;
                    }
                    .fa-heart:hover{
                        font-size:1.63rem;
                        background: -webkit-linear-gradient($color-primary, $color-secondary);
                        -webkit-background-clip: text;
                        background-clip:text;
                        -webkit-text-fill-color: transparent;
                        /*à améliorer avec ::after  */
                    }
                }
            }
        
            > * {
                flex:1 1 33%;
            }
        }
    }
}