header{
    display:flex;
    align-items:center;
    img{
        width:50%;
        padding-top:1rem;
        padding-bottom:1rem;
    }
}
.header__menu{
    gap:8.1rem;
    a:visited{
        color:black
    }
    .header__arrow{
        margin-left:1.5em;
        font-size:1.3em;
        padding-bottom:0.4em;
    }
}