header{
    h1{
        display:block;
        width:50%;
        margin-left:auto;
        margin-right:auto;
        padding-top:1rem;
        padding-bottom:1rem;
    }
}
.header__menu{
    position:relative;
    gap:8.1rem;
    a:visited{
        color:black
    }
    .header__arrow{
        margin-left:1.5em;
        font-size:1.3em;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }
}